@mixin cards {
    border: solid 2px pink;
    margin-left: 5px;
}



.card_img1 {
    @include cards;

}

.card_img2 {
    @include cards;
}

.card_img3 {
    border: solid 2px pink;
    margin-left: 5px;
}




.section12 {  
    border: solid 2px fuchsia;
    width: 16%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: map-get($map:$variables-maps , d-flex );
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}




.cajita image {
    width: 30%;
}

.card_imagen {
    width: 100%;
}


.rositas {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
}

